@import '../../index.scss';
.loginContainer {
    @extend %flex-center;

    flex-direction: column;
    padding: 20px;

    .loginTitle {
        margin-bottom: 20%;
    }

    .loginImage {
        width: 111%;
        margin-bottom: 20%;
    }

    .loginKakaoButton {
        width: 350px;
        height: 52px;
        margin-top: 5%;
    }

    .loginSNS {
        margin-bottom: 5%;
    }
}
