.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .login-title {
    margin: 20% 0 20% 0;
  }

  .login-image {
    width: 111%;
    margin-bottom: 20%;
  }

  .login-kakao-button {
    width: 350px;
    height: 52px;
    background: #fae64d;
    border-radius: 5px;
    font-size: 16.29px;
    line-height: 24px;
    color: #000000;
  }

  .KLogo {
    width: 17.2px;
    height: 17.2px;
    margin-right: 12px;
    margin-bottom: 3px;
  }

  .login-SNS {
    margin-bottom: 5%;
  }
}
