@import '../../index.scss';
.myPage {
    @extend %mypage-common;
}
.profile {
    @extend %profile-common;
    .profileWord {
        @extend %flex-center;
        width: 90px;
        font-size: 20px;
        color: #8c8c8c;
        position: relative;
        font-family: 'yg-jalnan';
        top: -40px;
    }
    .profileImg {
        @extend %profileImg-common;
    }
    .Button {
        @extend %flex-center;
        background-color: #47a5a5;
        position: relative;
        width: 90px;
        top: -40px;
        height: 30px;
        border-radius: 20px;
        font-size: 15px;
    }
}
.word {
    color: #47a5a5;
    @extend %word-common;
}
.hr {
    height: 1%;
}
.info {
    @extend %info-common;

    div {
        @extend %div-common;
        input {
            @extend %input-common;
            background-color: #f9f9f9;
        }
    }
}
.name {
    @extend %flex-center;
    input {
        width: 70%;
    }
}
.mail {
    @extend %flex-center;

    input {
        width: 68%;
    }
}
.mbti {
    @extend %flex-center;

    input {
        width: 67%;
    }
}
.stack {
    @extend %flex-center;

    input {
        width: 57%;
    }
}
.ability {
    @extend %flex-center;
    font-size: 16px;
    height: 38.5px;
    padding: 10px;
    label {
        @extend %flex-center;
        gap: 10px;
        width: 22%;
    }
}
input[type='radio'] {
    accent-color: black;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
