@import '../../index.scss';

.AnimationContainer {
    @extend %flex-center;

    flex-direction: column;
    .top {
        display: flex;
        gap: 10px;
    }

    .bottom {
        margin-top: 5px;
        margin-left: 9px;
    }
}
.loadingText {
    text-align: center;
    height: 100px;
    font-family: 'yg-jalnan';
    font-weight: 800;
    position: relative;
    bottom: -200px;
    a{
        line-height: 1.5;
        color: var(--color-main);
    }
}
.description {
    padding: 0.3rem;
    font-size: var(--font-size-small);
}
