@import 'reset-css';
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}
%width-height-100 {
    width: 100%;
    height: 100%;
}
// mypage 와 mypage-edit 중복
%mypage-common {
    @extend %flex-center;
    flex-direction: column;
    @extend %width-height-100;
    gap: 0px;
}
%profile-common {
    padding: 0;
    margin: 0;
    @extend %flex-center;
    flex-direction: row;
    height: 22%;
    width: 100%;
    gap: 30px;
}
%profileImg-common {
    @extend %flex-center;
    border-radius: 100px;
    position: relative;
    top: 20px;
    width: 100px;
    height: 100px;
    background-color: #d9d9d9;
}
%word-common {
    @extend %flex-center;
    width: 93%;
    height: 81%;
    border-radius: 20px;
    background-color: white;
}
%info-common {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    height: 77%;
    gap: 20px;
}

// mypage에 중복되는 코드
%cancel-and-complete-button {
    position: relative;
    font-family: 'yg-jalnan';

    width: 90px;
    top: -40px;
    height: 30px;
    border-radius: 20px;
    font-size: 15px;
}

// flex 중앙정렬
%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%button-click {
    &:hover {
        opacity: 0.85;
        transform: scale(0.99);
    }
    &:active {
        opacity: 0.8;
        transform: scale(0.98);
    }
}
%div-common {
    font-family: 'yg-jalnan';
    font-size: 20px;
    color: #4a4a4a; // 텍스트 색상 변경
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
%input-common {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Pretendard', sans-serif;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
}
:root {
    // 색
    --color-main: #756ab6; //임시 메인 컬러. 추후 바꿔야 해요

    // 글자 크기
    --font-size-large: 24px;
    --font-size-large2: 20px;
    --font-size-base: 15px;
    --font-size-small: 12px;
    @media (max-width: 768px) {
        --font-size-large: 21px;
        --font-size-large2: 18px;
        --font-size-base: 12px;
        --font-size-small: 9px;
    }
    margin: auto;
    @media (min-width: 768px) {
        width: 390px;
    }
}

html {
    @media (min-width: 768px) {
        background: var(--bs-gray-900);
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'yg-jalnan', 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

button {
    background: none;
    border: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
